<h1>Associated Attributes - WebUser</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>General Info</th>
      <th>WebUser Info</th>
      <th>Product Info</th>
    </tr>
  </thead>
  <tbody>
  <% @associated_attrs.each do |attr| %>
    <% if attr.associated_endpoints.include?("WebUser") %>
      <tr>
        <td><%= attr.attr_title %></td>
        <td><%= attr.general_info %></td>
        <td><%= attr.webuser_info %></td>
        <% if attr.product_info['WebUser'].present? %>
          <td><%= attr.product_info['WebUser'] %></td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
  </tbody>

  
</table>