<div id="<%= dom_id associated_attr %>">
  <p>
    <strong>Attr title:</strong>
    <%= associated_attr.attr_title %>
  </p>

  <p>
    <strong>Associated endpoints:</strong>
    <%= associated_attr.associated_endpoints %>
  </p>

  <p>
    <strong>General info:</strong>
    <%= associated_attr.general_info %>
  </p>

</div>
