<%= form_with url: search_associated_attrs_path, method: :get, local: true do |form| %>
  <div class="form-group" id="searchForm">
    <%= form.text_field :query, class: "form-control", placeholder: "Search by attribute title" %>
      <div class="form-group">
        <%= form.submit "Search", class: "button" %>
      </div>
  </div>
<% end %>

<section id="searchResults">
  <% if @associated_attrs.present? %>
    <ul>
      <% @associated_attrs.each do |attr| %>
        <li><%= link_to attr.attr_title, associated_attr_path(attr) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No associated attributes found</p>
  <% end %>
</section>