@import url('nav.css');
@import url('associated_attr.css');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  #searchResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }
  
  #searchResults ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Correct property for flexbox */
    gap: 1em; /* Adds consistent spacing between list items */
    padding: 0; /* Ensures no default padding */
    margin: 0; /* Removes default margins */
    list-style: none; /* Removes default bullets or numbers */
  }
  
  #searchResults li {
    padding: 0.5em; /* Keeps padding as you specified */
    background-color: #f9f9f9; /* Light background for better contrast */
    border-radius: 4px; /* Adds subtle rounding to the corners */
  }
  
  #searchResults li a {
    text-decoration: none;
    color: #5392d7;
    font-weight: 500; /* Adds a bit more weight for emphasis */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  #searchResults li a:hover {
    color: #2a6496; /* Darkens the link color on hover */
  }

  .associated-attributes {
    padding: 2em;
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
  }
  
  .associated-attributes h1 {
    color: #5392d7;
    margin-bottom: 1.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-weight: 600;
  }
  
  .attribute-item {
    padding: 1.5em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  
  .attribute-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  .attribute-info div {
    flex: 1 1 45%; /* Allow items to take up 45% of the width */
  }
  
  .attribute-item strong {
    color: #5392d7;
  }
  
  .product-item {
    display: flex;
    align-items: center;
  }
  
  #productSection {
    display: flex;
    flex-wrap: wrap;
    gap: 2em; /* This is where you apply the gap */
    justify-content: center;
  }
  
  #productSection .product-item {
    flex-direction: column;

  }
  
  #productSection img {
    max-width: 100px;
    height: auto;
  }
  