.nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    background-color: #5392d7;
    padding: 10px;
    margin: 0;
    border-bottom: 5px solid #51d8cf;
    
  }
  
  .nav li {
    margin: 0 10px;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
  }
  
  .nav a:hover {
    color: #007BFF;
  }