.nav {
    display: flex;
    background-color: #5392d7;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    margin: 0;
    
  }
  
  .nav li {
    margin: 0 10px;
    padding: .25em;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
  }
  
  .nav a:hover {
    color: #737373;
  }

  .nav .active {
    color: #ffffff;
    background-color: #2a6496; /* Optional background color */
    font-weight: bold; /* Optional, to emphasize the active link */
    border-radius: 4px;
    padding: 0.25em 0.5em;
    transition: background-color 0.3s ease;
    
}


.filter {
  padding: 1.5em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid #51d8cf;
  background-color: #5392d7;
}

.filter h3 {
  color: white;
  margin-bottom: 0.5em;
  text-align: center;
}

.filter .product-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.filter label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-weight: 500;
  color: #5392d7;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter label:hover {
  background-color: #f1f7ff;
  color: #2a6496;
}

.filter input[type="checkbox"] {
  margin-right: 0.5em;
  accent-color: #5392d7;
}

.filter .search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
  max-width: 400px;
}

.filter .search-bar input {
  flex: 1;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.filter input[type="submit"] {
  padding: 0.5em 1em;
  background-color: #51d8cf;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter input[type="submit"]:hover {
  background-color: #4178a9;
}